{% extends 'base.html' %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 form-container">
            <h1>Конвертировать WORD в PDF</h1>
            <form method="post" action="{% url 'convert_docx_into_pdf' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" align="center">
                    <label for="File">Выберите файл для конвертации:docx, doc, dot, dotx, wpd, rtf, wri, log</label>
                    <input type="file" class="form-control" id="File" name="File">
                </div>
                <div align="center">
                    <br>
                <button  type="submit" class="btn btn-primary">Конвертировать</button>
                {% if result %}
                    <a href="{{ download_link }}" class="btn btn-danger">Скачать PDF</a>
                {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}